{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="x-dns-prefetch-control" content="on" />
<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-title" content="我的博客">
<title>我的博客</title>

<link rel='stylesheet' id='bootstrap-css'  href='{% static "blog/css/bootstrap.min.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css'  href='{% static "blog/css/font-awesome.min.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='stylesheet-css'  href='{%static "blog/css/style.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='raxus-css'  href='{% static "blog/css/raxus.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='open-social-style-css'  href='{% static "blog/css/os.css" %}' type='text/css' media='all' />
<meta name='robots' content='index,follow' />
<meta name="keywords" content="网站关键字">
<meta name="description" content="描述">
</head>

<body class="home blog site-layout-2">

<!-- 头部 -->
<header class="fix-wrap" id="fix-wrap">
<div class="fix-main clearfix pr" id="fix-main" _hover-ignore="1"> <a href="/blog/" class="index-logo">
    <img src="{% static "blog/picture/black-logo.png" %}" alt="我的博客"></a>
<nav class="nav fl">
    <ul id="fix-list" class="fix-list clearfix">

<li id="menu-item-24086" class="menu-item"><a href="/blog/">首页</a></li>

{% for category in allcategory %}
<li id="menu-item-24086" class="menu-item">
<a href="{% url 'index' %}list-{{ category.id }}.html">{{ category.name }}</a>
</li>
{% endfor %}

<li id="menu-item-24086" class="menu-item"><a href="/blog/about/">关于博主</a></li>


</ul>
</nav>
    <form method="get" class="index-search  hidden-xs" action="{% url 'index' %}s/" >
        <input class="text" name="search" type="text" placeholder="输入关键字" value="">
        <button class="submit" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
</header>

{% block content %}
{% endblock %}


<!-- 底部 -->
<footer class="footer">
<div class="copyright"> © 2010- 2018 · All Rights Reserved
    · <a href="https://www.django.cn">哈哈</a>
    · <a href="http://www.miibeian.gov.cn" target="_blank">XXX号</a> 版权所有 © 哈哈</div>
</footer>
<!--script src='static/js/bundle.js'></script-->
<script type='text/javascript' src="{% static "blog/js/view-history.js" %}"></script>
<script type='text/javascript' src="{% static "blog/js/push.js" %}" ></script>
<script type='text/javascript' src="{% static "blog/js/jquery.min.js" %}"></script>
<script type='text/javascript' src="{% static "blog/js/bootstrap.min.js" %}"></script>
<script type='text/javascript' src="{% static "blog/js/raxus-slider.min.js" %}"></script>
<script type='text/javascript' src="{% static "blog/js/loader.js" %}"></script>
<script type='text/javascript' src="{% static "blog/js/bj-lazy-load.min.js" %}"></script>
<script type='text/javascript' src="{% static "blog/js/os.js" %}"></script>

</body>
</html>