{% extends "book/base.html" %}
{% block content %}
<h3 class="sub-header">标题</h3>
{% for i in obj_book %}
<div class='row'>
  <div class="col-md-6"><img src="{% url 'index' %}media/{{i.img}}" /></div>
  <div class="col-md-6">
    <ul class='list-style'>
      <li>ID：{{i.id}}</li>
      <li>书名：{{i.name}}</li>
      <li>作者：{{i.author}}</li>
      <li>出版社：{{i.publisher}}</li>
      <li>入库时间：{{i.create_time}}</li>
      <li>类别：{{i.category}}</li>
      <li>库存：{{i.count}}</li>
      <li>内容简介：{{i.content}}</li>
    </ul>
  </div>

{% if i.count <= 0 %}
  <div class="btn btn-default"><a style="color:red">无库存</a></div>
{% else %}
  <div class="btn btn-default"><a href="/book/{{i.id}}/borrow">借阅</a></div>
{% endif %}

  <div style="margin-top:400px"><a href="#" onclick="javascript:history.go(-1);">返回上一页</a></div>
</div>
{% endfor %}
{% endblock %}