{% extends "book/base.html" %}
{% block title %}
<title>用户登录</title>
{% endblock %}
{% block content %}

<div class="col-md-5 col-md-offset-2" style="margin-top: 60px">
    <h2 class="text-center">用户登录</h2>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label> {{ field }}
            <span style="color:red">{{ field.errors.0 }}</span>
        </div>
        {% endfor %}

        <div class="form-group">
            <input type="submit" value='登录' class='btn btn-primary btn-block'></input>
        </div>
    </form>

    <div style="float:left">
        <h6><a href="/register/">没有账号？请注册</a></h6>
    </div>
    <div style="float:right">
        <h6><a href="{% url "password_reset_recover" %}">忘记密码</a></h6>
    </div>

</div>

{% endblock %}