{% extends "book/base.html" %}
{% block nav%}
<ul class="nav nav-pills nav-stacked">
  <li><a href="/">图书列表</a></li>
  <li><a href="/book/myborrow/">我的借阅</a></li>
  <li class="active"><a href="/book/record/">借阅记录<span class="sr-only">(current)</span></a></li>
  <li><a href="/book/usercenter/">个人中心</a></li>
</ul>
{% endblock %}
{% block content %}
<h3 class="sub-header">借阅历史</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>时间</th>
        <th>书名</th>
        <th>用户</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      {% for field in obj_record %}
      <tr>
        <td>{{field.m_time}}</td>
        <td>{{field.book}}</td>
        <td>{{field.username}}</td>
        <td>{{field.get_status_display}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block page %}
<div class="pagination">
  <span class="step-links">
    {% if obj_record.has_previous %}
    <a href="?page={{ obj_record.previous_page_number }}">上一页</a>
    {% endif %}

    {% if obj_record.paginator.num_pages > 1 %}
    <span class="current">
      Page {{ obj_record.number }} of {{ obj_record.paginator.num_pages }}
    </span>
    {% endif %}

    {% if obj_record.has_next %}
    <a href="?page={{ obj_record.next_page_number }}">下一页</a>
    {% endif %}
  </span>
</div>
{% endblock %}