{% extends "book/base.html" %}
{% block title %}
<title>用户注册</title>
{% endblock %}
{% block content %}

<div class="col-md-5 col-md-offset-2" style="margin-top: 60px">
    <h2 class="text-center">用户注册</h2>

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label> {{ field }}
            <span style="color:red">{{ field.errors.0 }}</span>
        </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="提交" class="btn btn-primary btn-block">
        </div>
    </form>

</div>
{% endblock %}