{% extends "book/base.html" %}
{% block nav %}
<ul class="nav nav-pills nav-stacked">
  <li><a href="/">图书列表</a></li>
  <li><a href="/book/myborrow/">我的借阅</a></li>
  <li><a href="/book/record/">借阅记录</a></li>

  <li class="active"><a href="/book/usercenter/">个人中心<span class="sr-only">(current)</span></a></li>

</ul>
{% endblock %}
{% block content %}
<h3 class="sub-header">个人中心</h3>
<div class='col-md-8'>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label>{{ field.label }}</label> {{ field }} 
      <span style="color:red">{{ field.errors.0 }}</span>
    </div>
    {% endfor %}
    <div class="form-group">
      <input type="submit" value="修改" class="btn btn-primary">
    </div>
  </form>
</div>
{% endblock %}